body{
    background-color:#363636;
    color:#BFBFBF;
    margin:0;
    padding:0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.map{
    position: absolute; 
    z-index: 10;
    width: 100%;
    height: 100%;
}
.signInInfo{
    position: absolute; 
    z-index: 2500;
    top: 12.0em;
    left: calc( 50vw - ( (18.0em)/2 ) );
}
.loadingText{
    font-size: 125%;
    margin-top: 0.5em;
}
.accountTypeThemeFACEBOOK{
    background-color:#47639e;
    border: 2px solid #47639e;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    border-radius: 0.5em;
}
.accountTypeThemeGOOGLE{
    background-color:#da4f46;
    border: 2px solid #da4f46;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    border-radius: 0.5em;
}
.accountTypeThemeWINDOWSLIVE{
    background-color:#6a797e;
    border: 2px solid #6a797e;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    border-radius: 0.5em;
}
.accountTypeThemePASSWORD{
    background-color:#ffc93b;
    border: 2px solid #ffc93b;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    border-radius: 0.5em;
}
.signInOauthInfo{
    position: absolute; 
    z-index: 2510;
    height: 0.50em;
    top: 0.92em;
    left: 7.00em;
    font-size: 250%;
}
.signInOauthText{
    position: absolute; 
    width: 2.5em;
    height: 0.50em;
    font-size: 30%;
    margin-right:2.0em;
}
.signInSpinnerOauth{
    position: absolute; 
    top: 0.1em;    
    left: 0.75em;
    width: 0.50em;
    height: 0.50em;
    background: url('../icon/svg/cog.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.signInSpinner{
    width: 4em;
    height: 4em;
    background: url('../icon/svg/cog.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.introPageOverlay{
    position: absolute; 
    z-index: 2000;
    font-size: 275%;
    margin-top: 0.5em;
    margin-left: 9.2em;
}
.introPageOverlaySmall{
    font-size: 125%;
    margin-top: 0.5em;
    margin-left: 0.425em;
}
.introPageOverlayHideLeftBgrImg{
    position: absolute; 
    z-index: 5;
    background:#363636;
    margin-top: 26.0em;
    color:#BFBF00;
    width:25.0em;
    height:25.0em;
}
.hugeTitle{
    font-size: 200%;
    color:#EFEFEF;
}
.smallTitle{
    font-size: 115%;
    color:#EFEFEF;
}
.tinyTitle{
    font-size: 65%;
    color:#BFBFBF;
}
.overlay{
    position: absolute; 
    z-index: 1000;
    margin-left: 1.2em;
}
.trackLocationBar{
    position: absolute;
    z-index: 1010;
    margin-top: 0.35em;
    margin-left: 1.00em;
}
.recordingStatus{
    height: 1.250em;
    width: 2.50em;
    margin-left:0.5em;
    margin-top:1.50em;
    -moz-border-radius: 5.0em;
    -webkit-border-radius: 5.0em;
    border-radius: 5.0em;
}
.statusOn{
    background-color: #EE1010;
}
.statusOff{
    background-color: #EFEFEF;
}
.statusOffDark{
    background-color: #363636;
}
.appTitle{
    font-size: 225%;
    margin-top: 0.50em;
}
.titleBar{
    width: calc( 100vw - 1.5em );
}
.publishPopin{
    font-size: 135%;
    padding: 1.5em;
    height: 25.0em;
    width: 16.5em;
    top: calc( 50vh - ( (25.0em)/2 ) );
    left: calc( 50vw - ( (16.5em)/2 ) );
}
.buttonPublishClose{
    width: 2em;
    height: 2em;
    background-image: url(../icon/svg/circle-with-cross.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    float: right;
}
.publishBtn{
    position: absolute; 
    width: 2em;
    height: 2em;
    right: 5.8em;
    margin-top: 0.3em;
}
.publishIconBright{
/*    mask: url('../icon/svg/share.svg');
    mask-image: url('../icon/svg/share.svg');
    -webkit-mask-image: url('../icon/svg/share.svg');
    background-color:#FFFFFF;    */
    background-image: url('../icon/svg/share.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.publishIconDark{
/*    mask: url('../icon/svg/share.svg');
    mask-image: url('../icon/svg/share.svg');
    -webkit-mask-image: url('../icon/svg/share.svg');
    background-color:#363636;   */
    background-image: url('../icon/svg/share_dark.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.messageAreaBtn{
    width: 10.0em;
    background: #ffc93b;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color:#ffffff;
    font-size: 125%;
    padding-top: 0.20em;
    padding-bottom: 0.20em;
    padding-left: 0.10em;
    padding-right: 0.10em;
    text-align: center;
    border: 1px solid #ffc93b;
    border-radius: 2.5px;
    margin-left: 0.25em;
    margin-top: 0.25em;
    margin-bottom: 0.3em;
}
.messageAreaClose{
    width: 10.0em;
    background: #ffc93b;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color:#ffffff;
    font-size: 125%;
    padding-top: 0.20em;
    padding-bottom: 0.20em;
    padding-left: 0.10em;
    padding-right: 0.10em;
    text-align: center;
    border: 1px solid #ffc93b;
    border-radius: 2.5px;
    margin-left: 0.25em;
    margin-top: 0.25em;
    margin-bottom: 0.3em;
}
.publishSend{
    width: 10.4em;
    background: #ffc93b;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color:#ffffff;
    font-size: 150%;
    padding-top: 0.3em;
    padding-bottom: 0.30em;
    padding-left: 0.15em;
    padding-right: 0.15em;
    text-align: center;
    border: 1px solid #ffc93b;
    border-radius: 2.5px;
    margin-top: 2.00em;
    margin-bottom: 0.3em;
}
.userAccountLogout{
    width: 6.0em;
    background: #ffc93b;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-size: 150%;
    color:#ffffff;
    padding-top: 0.3em;
    padding-bottom: 0.30em;
    padding-left: 0.15em;
    padding-right: 0.15em;
    text-align: center;
    border: 1px solid #ffc93b;
    border-radius: 2.5px;
    margin-top: 0.5em;
    margin-bottom: 0.3em;
}
.userAccountRemove{
    position: absolute;
    right: 1.0em;
    bottom: 0.5em;
    width: 8.0em;
    background: #363636;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-size: 70%;
    color:#ffffff;
    padding-top: 0.3em;
    padding-bottom: 0.30em;
    padding-left: 0.15em;
    padding-right: 0.15em;
    text-align: center;
    border: 1px solid #646464;
    border-radius: 2.5px;
    margin-bottom: 0.3em;
}
.settingsTrackRemove{
    position: absolute;
    right: 1.0em;
    bottom: 0.5em;
    width: 13.0em;
    background: #363636;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-size: 70%;
    color:#ffffff;
    padding-top: 0.3em;
    padding-bottom: 0.30em;
    padding-left: 0.15em;
    padding-right: 0.15em;
    text-align: center;
    border: 1px solid #646464;
    border-radius: 2.5px;
    margin-bottom: 0.3em;
}
.buttonUserSettings{
    position: absolute; 
    width: 2em;
    height: 2em;
    right: 3.0em;
    margin-top:0.3em;
}
.settingsIconBright{
    background: url('../icon/svg/cog.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.settingsIconDark{
    background: url('../icon/svg/cog_dark.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.login{
    position: absolute; 
    right: 4.5em;
    margin-top: 0.3em;
}
.loginUser{
    position: absolute; 
    right: 0.15em;
    margin-top: 0.3em;
}
.userPictureSmall{
    border: 2px solid #E9E9E9;
    border-radius: 1.0em;
}
.userPictureSmallDark{
    border: 2px solid #363636;
    border-radius: 1.0em;
}
.userAccountPicture{
    width:3.2em;
    height:3.2em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 0.5em;
}
.userAccountAccountType{
    margin-top:0.2em;
    font-size: 45%;
    width: 8.0em;
    text-align: center;
}
.buttonUserAccountClose{
    width: 2em;
    height: 2em;
    background: url('../icon/svg/circle-with-cross.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    float: right;
    margin-top:-1.0em;
    margin-right:-1.0em;
}
.buttonUserSettingsClose{
    width: 2em;
    height: 2em;
    background: url('../icon/svg/circle-with-cross.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    float: right;
}
.buttonPasswordForgottenClose{
    width: 2em;
    height: 2em;
    background: url('../icon/svg/circle-with-cross.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    float: right;
    margin-top:-1.0em;
    margin-right:-1.0em;
}
.authorizeFrame{
    margin-top:1.00em;
}
.authorizeWithFacebookBtn{
    width: 18.25em;
    height: 3.20em;
    margin-left: 0.345em;
    margin-bottom: 0.35em;
    background: #3b5998;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 1px solid #3b5998;
    border-radius: 2.5px;
}
.authorizeWithFacebookBtnImg{
    width: 2.10em;
    height: 2.10em;
    background: url('../icon/signIn/facebookLogo.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left:0.43em;
    margin-right:0.50em;
    margin-top:0.50em;
}
.authorizeWithFacebookBtnLabel{
    display: table-cell;
    vertical-align: middle;
    font-size: 130%;
    color: #FFFFFF;
    padding-bottom: 0.2em;
}
.authorizeWithGoogleBtn{
    width: 18.20em;
    height: 3.20em;
    margin-left: 0.40em;
    margin-bottom: 0.35em;
    background: #cf3c28;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 1px solid #cf3c28;
    border-radius: 2.5px;
}
.authorizeWithGoogleBtnImg{
    width: 2.10em;
    height: 2.10em;
    background: url('../icon/signIn/g+icon_red.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left:0.43em;
    margin-right:0.50em;
    margin-top:0.50em;
}
.authorizeWithGoogleBtnLabel{
    display: table-cell;
    vertical-align: middle;
    font-size: 130%;
    color: #FFFFFF;
    padding-bottom: 0.2em;
}
.authorizeWithWindowsBtn{
    width: 18.20em;
    height: 3.20em;
    margin-left: 0.375em;
    margin-bottom: 0.35em;
    background: #6a797e;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 1px solid #6a797e;
    border-radius: 2.5px;
}
.authorizeWithWindowsBtnImg{
    width: 2.10em;
    height: 2.10em;
    background: url('../icon/signIn/windows.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left:0.43em;
    margin-right:0.50em;
    margin-top:0.50em;
}
.authorizeWithWindowsBtnLabel{
    display: table-cell;
    vertical-align: middle;
    font-size: 130%;
    color: #FFFFFF;
    padding-bottom: 0.2em;
}
.authorizeWithEmailBtn{
    width: 18.20em;
    height: 3.20em;
    margin-left: 0.375em;
    margin-bottom: 0.35em;
    background: #ffc93b;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 1px solid #6a797e;
    border-radius: 2.5px;
}
.authorizeWithEmailBtnImg{
    width: 2.10em;
    height: 2.10em;
    background: url('../icon/svg/mail.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left:0.43em;
    margin-right:0.50em;
    margin-top:0.50em;
}
.authorizeWithEmailBtnLabel{
    display: table-cell;
    vertical-align: middle;
    font-size: 130%;
    color: #FFFFFF;
    padding-bottom: 0.2em;
}
.passwordFrame{
    width: 17.30em;
    background: #c1c1c1;
    margin-left: 0.34em;
    margin-top: 0.3em;
    padding: 0.5em;
    border: 1px solid #c1c1c1;
    border-radius: 2.5px;
}
.emailInput, .passwordInput{
    width: 11.10em;
    font-size: 150%;
    margin-bottom: 0.3em;
    margin-right: 0;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 0.15em;
    padding-right: 0.15em;
    text-align: center;
    border: 1px solid #FFFFFF;
    border-radius: 4.5px;
}
.emailInputPopin{
    width: 8.50em;
    font-size: 150%;
    margin-bottom: 0.3em;
    margin-right: 0;
    padding-top: 0.3em;
    padding-bottom: 0.45em;
    padding-left: 0.15em;
    padding-right: 0.15em;
    text-align: center;
    border: 1px solid #FFFFFF;
    border-radius: 4.5px;
}
.marginSmallBottom{
    font-size: 100%;
    margin-bottom: 1.50em;
}
.marginTinyBottom{
    font-size: 100%;
    margin-bottom: 1.00em;
}
.socialPublish{
    margin-top:0.50em;
    margin-left:1.0em;
    margin-bottom:0.25em;
}
.socialSendBtn{
    width: 2.50em;
    height: 2.50em;
}
.socialShareBtn{
    width: 2.4em;
    height: 2.4em;
    margin-right:0.40em;
}
.socialShareInfoBtn{
    width: 2.4em;
    height: 2.4em;
    margin-left:1.50em;
}
.socialShareInfoFrame{
    background: rgba(255, 255, 255, 0.15);
    border-radius: 4.5px;
}
.socialShareInfo{
    padding: 0.5em;
}
.socialShareFacebookImg{
    width: 2em;
    height: 2em;
    background: url('../icon/svg/facebook.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.socialShareGoogleImg{
    width: 2em;
    height: 2em;
    background: url('../icon/svg/google+.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.publishEmailInput{
    margin-top: 0.3em;
}
.socialShareEmailImg{
    width: 2em;
    height: 2em;
    background: url('../icon/svg/mail.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.socialShareInfoImg{
    width: 0.65em;
    height: 0.65em;
    background: url('../icon/svg/info-with-circle.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.passwordInputSmall{
    width: 16.0em;
    font-size: 100%;
    margin-bottom: 0.3em;
    margin-right: 0;
    padding-top: 0.3em;
    padding-bottom: 0.45em;
    padding-left: 0.15em;
    padding-right: 0.15em;
    text-align: center;
    border: 1px solid #FFFFFF;
    border-radius: 4.5px;
}
.passwordSend{
    width: 11.10em;
    background: #ffc93b;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color:#ffffff;
    font-size: 150%;
    padding-top: 0.3em;
    padding-bottom: 0.30em;
    padding-left: 0.15em;
    padding-right: 0.15em;
    text-align: center;
    border: 1px solid #ffc93b;
    border-radius: 2.5px;
}
.passwordForgottenFrame{
    margin-left: 7.0em;
    padding-bottom: 0.5em;
}
.buttonPaddingTop{
    margin-top:1.50em;    
}
.navigateButton{
    width: 12.4em;
    background: #ffc93b;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color:#ffffff;
    font-size: 150%;
    padding-top: 0.3em;
    padding-bottom: 0.30em;
    padding-left: 0.15em;
    padding-right: 0.15em;
    text-align: center;
    border: 1px solid #ffc93b;
    border-radius: 2.5px;
}
/* .authorizeWithMailPassword:hover,
.authorizeWithMailPassword:active{
	background: #b8b8b8;
	border: 1px solid #b8b8b8;
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
} */
.popinLabel{
    color:#FFFFFF;
    font-size: 180%;
}
.popinLabelSmall{
    color:#FFFFFF;
    font-size: 145%;
}
.userInput{
    width: 12em;
    font-size: 125%;
    margin-bottom: 0.3em;
    margin-right: 0;
    padding-top: 0.3em;
    padding-bottom: 0.45em;
    padding-left: 0.15em;
    padding-right: 0.15em;
    text-align: center;
    border: 1px solid #FFFFFF;
    border-radius: 4.5px;
}
.userInputSmall{
    width: 10.35em;
    font-size: 135%;
    margin-bottom: 0.3em;
    margin-right: 0;
    padding-top: 0.3em;
    padding-bottom: 0.45em;
    padding-left: 0.15em;
    padding-right: 0.15em;
    text-align: center;
    border: 1px solid #FFFFFF;
    border-radius: 4.5px;
}
.buttonWidthStandard{
    width: 11em;
}
.buttonWithStatus{
    width: 14em;
    margin-left: 1.5em;
}
.button{
    background: #E9E9E9;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color:#363636;
    font-size: 150%;
    padding-top: 0.2em;
    padding-bottom: 0.30em;
    padding-left: 0.30em;
    padding-right: 0.30em;
    text-align: center;
    border: 1px solid #E9E9E9;
    border-radius: 1.00em;
}
.button:hover,
.button:active{
	background: #b8b8b8;
	border: 1px solid #b8b8b8;
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
}
.buttonDark{
    background: #363636;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color:#E9E9E9;
    font-size: 150%;
    padding-top: 0.2em;
    padding-bottom: 0.30em;
    padding-left: 0.30em;
    padding-right: 0.30em;
    text-align: center;
    border: 1px solid #363636;
    border-radius: 1.00em;
}
.buttonDark:hover,
.buttonDark:active{
	background: #484848;
	border: 1px solid #484848;
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
}
.buttonSmall{
    background: #E9E9E9;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color:#363636;
    font-size: 135%;
    padding-top: 0.1em;
    padding-bottom: 0.15em;
    padding-left: 0.05em;
    padding-right: 0.05em;
    text-align: center;
    border: 1px solid #E9E9E9;
    border-radius: 2.5px;
}
.buttonSmall:hover,
.buttonSmall:active{
	background: #b8b8b8;
	border: 1px solid #b8b8b8;
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
}
.mySelect{
    font-size: 150%;
    margin-top: 0.3em;
    margin-bottom: 0.2em;
    margin-right: 0.2em;
    padding-top: 0.2em;
    padding-bottom: 0.3em;
    padding-left: 0.15em;
    padding-right: 0.15em;
    text-align: center;
    border: 1px solid #ffffff;
    border-radius: 4.5px;
}
.horizontalContainer>div{
    display: inline-block;
}
.horizontalContainerFlex>div{
    display: inline-flex;
}
.homePageLink{
    position: absolute;
    z-index:950;
    bottom:1.8em;
    right:4.0em;
    font-size: 85%;
}
.homeFooter{
    position: absolute;
    bottom:0; 
    z-index: 3000;
    display: -moz-box;  display: -webkit-box; display: -ms-flexbox;
	-moz-box-orient: vertical; -webkit-box-orient: vertical; -ms-flex-direction: column;
    width: calc( 100vw );
    color:#494949;
    background: #868686;
    font-size: 50%;
    padding-top:15px;
    padding-bottom:10px;
    padding-left:10px;
    padding-right:10px;
}
.footerLine{
	margin-top: 0.50em;
}
.policyLink{
    color:#494949;
    font-size: 140%;
}
.mailLink{
    color:#494949;
}
.addressContainer{
	margin-left: 1.00em;
    font-size: 150%;
}
.designMattersImage{
    vertical-align: text-top;
    max-height: 1.50em;
    margin-right: 0.25em;
}
.boxShadowPopover{
	-moz-box-shadow:    1px 1px 1px 1.3px #a1a1a1;
  	-webkit-box-shadow: 1px 1px 1px 1.3px #a1a1a1;
  	box-shadow:         1px 1px 1px 1.3px #a1a1a1;
  	border-radius: 2.5px;
}
.popin{
    position: absolute; 
    z-index: 1200;
    background-repeat: no-repeat;
    background-size: 100% 100%;

	background: -webkit-linear-gradient(top, #777777, #333333);
    background: -moz-linear-gradient(top, #777777, #333333);
    background: -ms-linear-gradient(top, #777777, #333333);    

    padding-top: 0.6em;
    padding-bottom: 0.6em;
    padding-left: 0.6em;
    padding-right: 0.6em;
    color:#dddddd;
    font-size: 110%;
}
.tracksToShow{
    margin-top: 0.5em;
}
.popinUserSetting{
    opacity:0.71;
    padding: 1.5em;
    height: 14em;
    width: 15em;
    top: 3.75em;
    left: calc( 100vw - ( 20.0em ) );
}
.popinLongtext{
    margin-top:0.5em;
}
.popinLongtextBig{
    margin-top:0.25em;
    font-size: 125%;
}
.popinLongtextVerySmall{
    margin-top:0.5em;
    font-size: 70%;
}
.pageLongtext{
    margin-top:0.5em;
    font-size: 135%;
}
.userDisplayName{
    width: 9.00em;
}
.fontColorBright{
    color:#FFFFFF;
}
.fontColorDark{
    color:#363636;
}
.userAccountPopin{
    position: absolute; 
    z-index: 2700;
    font-size: 135%;
    padding: 1.5em;
    height: 15.0em;
    width: 10.0em;
    top: calc( 50vh - ( (15.0em)/2 ) );
    left: calc( 50vw - ( (10.0em)/2 ) );
}
.userAccountDisplayName{
    margin-top:1.0em;
}
.userAccountChangePictureUrlInput{
    margin-top:1.0em;
    width: 10.00em;
    font-size: 100%;
    margin-bottom: 0.3em;
    margin-right: 0;
    padding-top: 0.3em;
    padding-bottom: 0.45em;
    padding-left: 0.15em;
    padding-right: 0.15em;
    text-align: center;
    border: 1px solid #FFFFFF;
    border-radius: 4.5px;
}
.userAccountChangeNameInput{
    margin-top:1.0em;
    width: 10.00em;
    font-size: 100%;
    margin-bottom: 0.3em;
    margin-right: 0;
    padding-top: 0.3em;
    padding-bottom: 0.45em;
    padding-left: 0.15em;
    padding-right: 0.15em;
    text-align: center;
    border: 1px solid #FFFFFF;
    border-radius: 4.5px;
}
.popinPasswordForgotten{
    padding: 1.5em;
    height: 17em;
    width: 14em;
    top: calc( 50vh - ( (17em)/2 ) );
    left: calc( 50vw - ( (14em)/2 ) );
}
.passwordForgottenEmail{
    margin-top:1.0em;
}
.passwordForgottenSendBtn{
    width: 10.27em;
    background: #ffc93b;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color:#ffffff;
    font-size: 135%;
    padding-top: 0.3em;
    padding-bottom: 0.30em;
    padding-left: 0.15em;
    padding-right: 0.15em;
    text-align: center;
    border: 1px solid #ffc93b;
    border-radius: 2.5px;
    margin-top:2.0em;
}
.popinMessageLog{
    position: absolute; 
    z-index: 4000;
    height: 14.00em;
    width: 15.00em;
    font-size: 100%;
    top: calc( 45vh - ( 14.0em / 2 ) );
    left: calc( 50vw - ( 15.0em / 2 ) );
}
.messageArea{
    padding-left: 0.35em;
    padding-right: 0.35em;
    padding-top: 0.35em;
    padding-bottom: 0.35em;
    white-space: pre-line;
}
.messageTextFontLarge{
    font-size: 110%;
}
.messageTextFontNormal{
    font-size: 160%;
}
.isInvisible{
    display: none;
    visibility: hidden;
}
.mapLabel{
    font-size: 150%;
}
.label{
    padding-top: 0.30em;
    padding-bottom: 0.15em;
    display: table-cell;
    vertical-align: middle;
    font-size: 145%;
    color: #FFFFFF;
}
.spinner{
    -webkit-animation-name: spin;
    -webkit-animation-duration: 2000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 2000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 2000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from { transform:rotate(360deg); }
    to { transform:rotate(0deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(360deg); }
    to { -moz-transform: rotate(0deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(360deg); }
    to { -webkit-transform: rotate(0deg); }
}

.pulser{
    -webkit-animation-name: pulse;
    -webkit-animation-duration: 2000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: pulse;
    -moz-animation-duration: 2000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: pulse;
    -ms-animation-duration: 2000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    animation-name: pulse;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes pulse {
    from { transform:rotate(0deg); }
    to { transform:rotate(360deg); }
}
@-moz-keyframes pulse {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes pulse {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

@keyframes pulse {
  10%, 90% { transform: translate3d(-1px, 0, 0);
  }
  20%, 80% { transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% { transform: translate3d(-4px, 0, 0);
  }
  40%, 60% { transform: translate3d(4px, 0, 0);
  }
}
